Repository IBM/ibm-spectrum-scale-install-infra, pull requests merged in 2020-10, with the labels that each got.

#237 #236: Refactor README.md
  README.md
  VARIABLES.md
  ansible.sh
  group_vars/.empty
  host_vars/.empty
  playbook.yml
  samples/ansible.sh
  samples/hosts
  samples/playbook_callhome.yml
  samples/playbook_ces.yml
  samples/playbook_cloud.yml
  samples/playbook_directory.yml
  samples/playbook_fileauditlogging.yml
  samples/playbook_json_ces.yml
  samples/playbook_localpkg.yml
  samples/playbook_nodeclass.yml
  samples/playbook_remotepkg.yml
  samples/playbook_repository.yml
  samples/playbook_storage.yml
  samples/set_json_variables.yml
  samples/vars/callhome_vars.yml
  samples/vars/ces_vars.yml
  samples/vars/config_vars.yml
  samples/vars/fal_vars.yml
  samples/vars/scale_clusterdefinition.json
  samples/vars/storage_vars.yml
Labels: Component: Documentation, Type: Documentation

#246 does not produce jinja2 warning while checking for IP address in CES
  roles/nfs/common/tasks/check.yml
Labels: Component: NFS, Type: Enhancement

#262 Adopt new syntax of stat module (checksum)
  roles/callhome/node/tasks/install_local_pkg.yml
  roles/callhome/node/tasks/install_remote_pkg.yml
  roles/core/node/tasks/install_local_pkg.yml
  roles/core/node/tasks/install_remote_pkg.yml
  roles/gui/node/tasks/install_local_pkg.yml
  roles/nfs/node/tasks/install_local_pkg.yml
  roles/nfs/node/tasks/install_remote_pkg.yml
  roles/scale_ece/node/tasks/install_local_pkg.yml
  roles/scale_ece/node/tasks/install_remote_pkg.yml
  roles/scale_fileauditlogging/node/tasks/install_local_pkg.yml
  roles/scale_fileauditlogging/node/tasks/install_remote_pkg.yml
  roles/smb/node/tasks/install_local_pkg.yml
  roles/smb/node/tasks/install_remote_pkg.yml
  roles/zimon/node/tasks/install_local_pkg.yml
Labels: Component: Callhome, Component: Core, Component: File Audit Logging (FAL), Component: GUI, Component: NFS, Component: SMB, Component: ZIMON, Type: bug

#260 Updated regex that filters IP addresses in CES
  roles/nfs/common/tasks/check.yml
  roles/nfs/common/vars/main.yml
Labels: Component: NFS

#231 Import of GPG KEY install_repository.yml
  roles/core/common/vars/main.yml
  roles/core/node/tasks/install_repository.yml
Labels: Component: Core, Type: bug

#272 Default to Python 3 and link to Ansible docs for details
  README.md
Labels: Component: Documentation, Type: Documentation

#275 Fix for repo issue due to extra (/) slash
  roles/core/common/vars/main.yml
  roles/gui/node/tasks/install_repository.yml
Labels: Type: bug
