Repository IBM/ibm-spectrum-scale-install-infra, pull requests merged in 2021-01, with the labels that each got.

#347 Incorrect sequence of NFS tasks on IPv6
  roles/nfs/common/tasks/configure.yml
Labels: Component: IPV6, Severity: 3, Type: Enhancement

#349 Callhome auto group creation fix for node expension
  roles/callhome/cluster/tasks/configure.yml
Labels: Component: Callhome, Severity: 2

#295 Improve daemon state support
  VARIABLES.md
  roles/core/cluster/defaults/main.yml
  roles/core/cluster/handlers/main.yml
  roles/core/cluster/tasks/cluster.yml
  roles/core/cluster/tasks/cluster_start.yml
  roles/core/cluster/tasks/removenode.yml
  roles/core/cluster/vars/main.yml
Labels: Component: Core, Component: Documentation, Type: Enhancement
